<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
      <title> Books </title>
        <!-- Bootstrap icons-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />       
		<link href="/css/styleBooksAndAuthors.css" rel="stylesheet" />
    </head>
   <body class="bg-light">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <span class="navbar-brand"><strong>Library</strong></span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                       <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
                       <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/library/author}">List of Authors</a></li>
                    </ul>
             	<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"> 
        			<button id="buttonLogout" type="submit" class="btn btn-outline-primary">Logout</button>
				</form>
          		<a  sec:authorize="!isAuthenticated()" th:href="@{/login}" id="buttonLogin" class="btn btn-outline-primary">Login</a>
           </div>
         </div>
    	</nav>  
    <div class="content">
		
        <center>
            <br>
            <h1 class="display-5 fw-bolder">List of all books:</h1>
            <br>
        </center>
        
        <div class="container">	
			<!-- btn-toolbar: utilizzata per raggruppare una serie di elementi all'interno di una barra degli strumenti 
			justify-content-between: classe di Bootstrap utilizzata per allineare gli elementi all'interno di div
			role: definisce il ruolo.
			aria-label": descrive il contenuto della barra degli strumenti di div.  -->
			<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    			<div class="btn-group" role="group" aria-label="First group">
      				<div class="dropdown">
  						<button  id="menuGenre" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   							Genre
  						</button>
  						<div class="dropdown-menu" aria-labelledby="menuGenre">
							<a class="dropdown-item" th:href="@{/library}">All</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Children}">Children</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Classic}">Classic</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Comic}">Comic</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Crime}">Crime</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Fantasy}">Fantasy</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Horror}">Horror</a>
    						<a class="dropdown-item" th:href="@{/library/genre/History}">History</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Novel}">Novel</a>
    						<a class="dropdown-item" th:href="@{/library/genre/Thriller}">Thriller</a>
  						</div>
      				</div>
    				<div class="dropdown">
      					<button class="btn btn-secondary dropdown-toggle" type="button" id="menuDate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       					After Publication Date
      					</button>
      					<div class="dropdown-menu" aria-labelledby="menuDate">
							<a class="dropdown-item" th:href="@{/library}">All</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/1850-01-01}">1850</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/1900-01-01}">1900</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/1950-01-01}">1950</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/2000-01-01}">2000</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/2010-01-01}">2010</a>
        					<a class="dropdown-item" th:href="@{/library/afterDate/2020-01-01}">2020</a>
      					</div>
    				</div>
    			</div>
   				<form th:action="@{/library/title}" method="post">
    				<div class="input-group">
						<!-- required : campo obbligatorio, non può essere nullo.-->
        				<input type="search" class="form-control rounded" placeholder="Search" name="titleFound" required  />
        				<button id="buttonTitle" type="submit" class="btn btn-outline-primary">search</button>
    				</div>
				</form>
			</div>
			
			<!-- row e col creano una struttura a griglia. 
			row: viene utilizzata per creare una riga all'interno di una struttura di griglia.
			col: viene utilizzata per creare una colonna all'interno della riga. -->
            <div class="row">
                <div class="col">
					<!-- All'interno della colonna viene creata una tabella. 
					table-bordered: viene utilizzata per aggiungere bordi a tutte le celle della tabella -->
                    <table id="booksTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Isbn</th>
                                <th scope="col">Title</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Authors</th>
                                <th scope="col" >
									<!--a: Collegamento ipertestuale. 
									 th:href="@{}" = sintassi standard di Thymeleaf per l'utilizzo delle espressioni 
									 negli URL. -->
									<a sec:authorize="isAuthenticated()" th:href="@{/library/insert}">
										<!-- btn: definisce lo stile du pulsante (pulsante standard).
										btn-outline-dark: stile di pulsante con un contorno scuro e testo chiaro.
										"flex-shrink" su 0: garantisce che il pulsante mantenga le proprie dimensioni originali -->
                    					<button class="btn btn-outline-dark flex-shrink-0" type="button">New Book</button>
                					</a>
								</th>
                            </tr>
                        </thead>
                        <tbody>
							<!-- Sintassi thymeleaf per itinerare su una lista. -->
                            <span th:each="book : ${books}">
                                <tr>
									<!-- th:elemento di intestazione di una tabella.
									 "th:text" viene utilizzato per impostare il testo. 
									 th:text=”${attributename}” per visualizzare il valore degli attributi del modello -->
                                    <th th:text="${book.isbn}" style="width:15%"></th>
                                    <td class="fs-5 mb-5" th:text="${book.title}"></td>
                                    <td class="fs-5 mb-5" th:text="${book.genre}"></td>
                                    <td>
										<!-- a: oggetto della lista che si sta itinerando.
										iter: indice dell'iterazione corrente. -->
    									<span th:each="a, iter : ${book.authors}">
        								<span th:text="${a.firstName} + ' ' + ${a.lastName}"></span>
        								<span th:if="${!iter.last}">, </span>
    									</span>
									</td>
                                    <td style="width:20%">
                                        <a id="detBook" th:href="@{/library/{isbn}(isbn=${book.isbn})}" class="btn btn-primary">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        <a sec:authorize="isAuthenticated()" th:href="@{/library/update/{isbn}(isbn=${book.isbn})}" class="btn btn-primary">
                                           <i class="bi bi-pen"></i>
                                        </a>
                              		 	<a sec:authorize="isAuthenticated()" th:href="@{/library/delete/{isbn}(isbn=${book.isbn})}" class="btn btn-primary">
                                           <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </span>
                        </tbody>
                    </table>
                </div>
            </div>
            <center>
				 <a th:href="@{/library}">
                    	<button th:if="${AllBooks}" class="btn btn-outline-dark flex-shrink-0" type="button">Back To All Books</button>
                </a>
			</center>
        </div>
    </div>
<!-- Script utilizzati per includere le librerie jQuery, Popper.js e Bootstrap.
1) include la libreria di JQuery. Slim versione leggera. integrity: viene utilizzato per garantire l'integrità del codice
crossorigin: indica che il file viene richiesto da un'altra origine.
2) include la libreria Popper.js.
3)  include la libreria Bootstrap dalla URL . Contine il codice javascript per il funzionamento dei componenti bootstrapt.
es: menu a discesa. -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!-- Footer-->
     <footer id="footer" class="py-5 bg-dark">
     	<div class="container"><p class="m-0 text-center text-white">Library 2023</p></div>
     </footer>
   </body>
</html>